<h1>Stupid Coaching</h1>
<p class="question"><%= @question %><br><span class="quoted">- You</span></p>
<p class="answer"><%= @answer %><br><span class="quoted">- SC</span></p>
<%= link_to "Ask another question", ask_path  %>
